# Environment variables for the agri-blockchain-backend

# Database configuration
MONGODB_URI=mongodb+srv://your_username:your_password@cluster0.mongodb.net/your_database?retryWrites=true&w=majority

# Blockchain configuration
ETHEREUM_RPC_URL=https://mainnet.infura.io/v3/YOUR_INFURA_PROJECT_ID
POLYGON_RPC_URL=https://polygon-rpc.com
POLYGON_TESTNET_RPC_URL=https://rpc-mumbai.maticvigil.com # Replace with a valid URL

# Chain IDs
CHAIN_ID_ETHEREUM=1
CHAIN_ID_POLYGON=137
CHAIN_ID_POLYGON_MUMBAI=800

# API keys
GOOGLE_AI_API_KEY=your_google_ai_api_key
PINATA_API_KEY=your_pinata_api_key
PINATA_SECRET_KEY=your_pinata_secret_key

# Payment configuration
STRIPE_KEY_ID=your_stripe_key_id
STRIPE_KEY_SECRET=your_stripe_key_secret
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

# Other configuration
CORS_ORIGIN=http://localhost:5173
VITE_API_URL=http://192.168.1.8:5000
WALLET_ADDRESS=your_wallet_address
